/**Top menu**/
.htoprightmenu0,.htoprightmenu0 ul
{
	margin:0; padding:0;
	min-height:27px;
	width:100%;
	list-style:none;
	font-size:11px;
	float:left;
	/*font-size:90%*/
}

.htoprightmenu0
{
	
}

/*Links*/
.htoprightmenu0 a
{
	display:block;
	padding:5px 10px;
	font-size:13px;
	text-decoration:none;
	text-align:center;
}

.htoprightmenu0 li 
{
	float:left;
}

/*Root items*/
.htoprightmenu0 li a.root-item
{
	color:#fff;
	padding:7px 12px;
}

/*Root menu selected*/
.htoprightmenu0 li a.root-item-selected
{
	text-decoration:underline;
	color:#fff;
	padding:7px 12px;
}

/*Root items: hover*/
.htoprightmenu0 li:hover a.root-item, .htoprightmenu0 li.jshover a.root-item
{
	text-decoration:underline;
	color:#fff;
}

/*Item-parents*/
.htoprightmenu0 a.parent
{
	
}

/*Denied items*/
.htoprightmenu0 a.denied
{

}

/*Child-items: hover*/
.htoprightmenu0 li:hover, .htoprightmenu0 li.jshover
{

	color:#fff;
}

/*Child-items selected*/
.htoprightmenu0 li.item-selected
{

	color:#fff;
}

/*Sub-menu box*/
.htoprightmenu0 li ul
{
	position:absolute;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;

	height:auto;
	/*width:12em;*/
	width:135px;

	border:1px solid #C1C1C1;
}

/*Sub-menu item box*/
.htoprightmenu0 li li 
{
	width:100%;
	border-bottom:1px solid #DEDEDE;
}

/*Item link*/
.htoprightmenu0 li ul a
{
	text-align:left;
}

/*Items text color & size */
.htoprightmenu0 li a,
.htoprightmenu0 li:hover li a,
.htoprightmenu0 li.jshover li a,
.htoprightmenu0 li:hover li:hover li a,
.htoprightmenu0 li.jshover li.jshover li a,
.htoprightmenu0 li:hover li:hover li:hover li a,
.htoprightmenu0 li.jshover li.jshover li.jshover li a,
.htoprightmenu0 li:hover li:hover li:hover li:hover li a,
.htoprightmenu0 li.jshover li.jshover li.jshover li.jshover li a,
.htoprightmenu0 li:hover li:hover li:hover li:hover li:hover li a,
.htoprightmenu0 li.jshover li.jshover li.jshover li.jshover li.jshover li a
{
	color:#4F4F4F;
	font-weight:bold;
}

/*Items text color & size: hover*/
.htoprightmenu0 li:hover li:hover a,
.htoprightmenu0 li.jshover li.jshover a,
.htoprightmenu0 li:hover li:hover li:hover a,
.htoprightmenu0 li.jshover li.jshover li.jshover a,
.htoprightmenu0 li:hover li:hover li:hover li:hover a,
.htoprightmenu0 li.jshover li.jshover li.jshover li.jshover a
.htoprightmenu0 li:hover li:hover li:hover li:hover li:hover a,
.htoprightmenu0 li.jshover li.jshover li.jshover li.jshover li.jshover a
.htoprightmenu0 li:hover li:hover li:hover li:hover li:hover li:hover a,
.htoprightmenu0 li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{
	color:#4F4F4F;
}

.htoprightmenu0 li ul ul
{
	margin:-27px 0 0 132px;
	/*margin:-1.93em 0 0 11.6em;*/
}

.htoprightmenu0 li:hover ul ul,
.htoprightmenu0 li.jshover ul ul,
.htoprightmenu0 li:hover ul ul ul,
.htoprightmenu0 li.jshover ul ul ul,
.htoprightmenu0 li:hover ul ul ul ul,
.htoprightmenu0 li.jshover ul ul ul ul,
.htoprightmenu0 li:hover ul ul ul ul ul,
.htoprightmenu0 li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	display:none;
}

.htoprightmenu0 li:hover ul,
.htoprightmenu0 li.jshover ul,
.htoprightmenu0 li li:hover ul,
.htoprightmenu0 li li.jshover ul,
.htoprightmenu0 li li li:hover ul,
.htoprightmenu0 li li li.jshover ul,
.htoprightmenu0 li li li li:hover ul,
.htoprightmenu0 li li li li.jshover ul,
.htoprightmenu0 li li li li li:hover ul,
.htoprightmenu0 li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}